:root {
    --body: sans-serif;
    --dark: #362e4f;
    --darkOpacity: #3b3b4930;
    --light: #efeef6;
    --selectionColor: #00e5ff;
}

head, style, script {
    display: none;
}

html {
    min-height: 100%;
}

body {
    flex-grow: 1;
    overflow-x: hidden;
    color: var(--dark);
    background-color: var(--light);
    font-family: var(--body);
    font-weight: 400;
    margin: 0;
}

#root {
    flex-grow: 1;
    min-height: 100%;
    background-image: url('/paper.jpeg');
    background-size: 200px;
}

* {
    position: relative;
    display: flex;
    flex-direction: column;
}

p, a, span, button, input, select, textarea, label, h1, h2, h3, h4, h5, h6, i {
    height: fit-content;
    width: fit-content;
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
}