@section Scripts {
    <script type="module" src="@Url.Content("~/js/Home.js")"></script>
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/Home.css")" />
}

<div id="root"></div>